html,

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: 'Candara';
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.Cabecera_logo {
  display: flex;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
}


.container-products-home{
  margin-top: 30px;
  display: flex;
  justify-content:center;
  width: auto;
  gap: 30px;
  z-index: 2;
  margin-bottom: 30px;
}


nav {
  background-color: #C72D29;
  padding: 1.5em 5%;
  color: #fff;

  display: grid;
  gap: 1.5em;
  align-items: center;
  grid-template-columns: repeat(auto-fit,minmax(300px 1fr));
}

.nav_title{
margin: 0 auto;
}

.nav_list {
  padding: 0;
  list-style: none;
  margin: 0 auto;

  display: grid;
  justify-content: end;
  grid-auto-flow: column;
  gap: 5px;
}

.nav_item1 {
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
}

/* barra de búsqueda */
.input-group {
  width: 300px;
}

/* dimensiones barra de búsqueda */
#search_field {
  height: 2.4rem;
  padding: 1rem;
  border-radius: 0.6rem;
}


/* botón iniciar sesión*/
#login_btn {
  background-color: #07B2D9;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.btn-admin {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  justify-content: center;
  padding-left: 8rem;
  padding-right: 8rem;
  cursor: pointer;
}


/* Home page */
#products_heading {
  margin-top: 5rem;
}

/* Tarjeta cuadro de productos */
.card {
  display: flex;
  height: 100%;
  width: 100%;
  padding-left: 0;

}

/* Tamaño precio */
.card-text {
  font-size: 2rem;
}

/* Botón ver detalle */
#view_btn {
  background-color: #C72D29;
  border-radius: 1rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}



/* Tamaño de imagen producto */
.card-img-top {
  width: 200px;
  height: 150px;
  margin-bottom: 20px;
}


#no_of_reviews {
  font-size: 0.85rem;
  color: grey;
  margin-left: 0.5rem;
}

/* Footer */
footer {
  color: #fff;
  background-color: #C72D29;
  padding: 5px;
}

/* Ratings */

.rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: #A63C4F;
}

/* Ratings estrellas */
.rating-outer::before {
  content: '\f006 \f006 \f006 \f006 \f006';
}


.stock {
  color: #A63C4F;
  font-weight: bold;
}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.rating-inner::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  color: #A63C4F;
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.sub-headding {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: #A63C4F;
  font-weight: bold;
  text-align:center;
}

.agregar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.agregar form .inputBox {
  display: grid;
  grid-template-columns: repeat(1, 34rem);
  grid-gap: 1rem;
  justify-content: center;
  padding-top: 2rem;
  padding-left: 7rem;
  padding-right: 7rem;
  color: #fff;
  font-weight: bold;
  padding-bottom: 2rem;
  background-color: #C72D29;
  width: 660px;
  border-radius: 9px;
}

.btn-add-product {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 5px;
}

.btn-add-product .btn {
  margin-left: 10px;
}

.cajon {
  background: #fff;
  border-radius: 9px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.cajon1 {
  background: #fff;
  border-radius: 9px;
  padding-top: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
}


/*CARRITO DE COMPRAS:*/

.container-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-table {
  background-color: white;
  width: 70%;
}

.container-table .color-icon {
  width: 100%;
  height: 100%;
  color: rgb(139, 9, 9);
  display: flex;
  justify-content: center;
}

.container-table .color-icon div {
  cursor: pointer;
  width: 50%;
  display: flex;
  justify-content: center;
}

.container-pago {
  width: 10%;
}

.cartContainer {
  padding: 0;
  display: flex;
  justify-content: right;
}

.buttonCartContainert {
  position: absolute;
  margin-right: 10px;
  cursor: pointer;
  z-index: 1;
}

.buttonCartContainert.svg {
  height: 25px;
  margin-right: 2px;
}

.buttonCart {
  background-color: #C72D29;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  margin-top: -420px;
  margin-right: 40px;
}

.productsNumber {
  height: 20px;
  width: 30px;
  border-radius: 50px;
  top: -10;
  right: -40;
  background-color: #07B2D9;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart {
  position: absolute;
  margin-top: 1rem;
  margin-right: 2rem;
  border-radius: 2rem;
  width: 370px;
  background-color: #000000;
  color: #fff;
  margin-top: -600px;
}

.cartMensaje {
  text-align: center;
  font-weight: bold;
  margin-top: 25px;
}

.cartVacio {
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
}

.total {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  padding-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttonsCart2 {
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 18px;
  padding: 5px 20px;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  background-color: #C72D29;
}

.productsCart {
  max-height: 150px;
  margin-top: 5px;
  margin-right: 5px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 40px;
}

.cartItem {
  height: 80px;
  background-color: #fff;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
  color: #000000;
}

.imgCart {
  height: 50px;
  border-radius: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;

}

.dataContainerItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 15px 0;
  margin-bottom: 10px;
}

.left {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-p {
  font-weight: bold;
  font-size: 10px;
  color: #000000;
}

.buttonsCart {
  display: flex;
  gap: 5px;
}

.buttonsCart1 {
  border: none;
  cursor: pointer;
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  background-color: #C72D29;
}

.unidades {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.unidades1 {
  background-color: #C72D29;
  width: 30px;
  height: 30px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.container-panel-login{
  display: flex;
  margin-right: 15px;
}

#TitleDashBoard {
  color: #C72D29;
  font-size: 30px;
  font-weight: bold;
  text-align:center;
}

/* Admin Sidebar */

.sidebar-wrapper {
  display: flex;
  width: auto;
  align-items: stretch;
  min-height: 70vh;
  font-weight: normal;
  height: 100%;
  z-index: 10;
  margin-top: auto;
  margin-bottom: auto;
}

#sidebar {
  min-width: 100%;
  max-width: 100%;
  background: #C72D29;
  color: #fff;
  margin-top: -2px;
}


#sidebar ul li a {
  padding: 5px;
  font-size: 14px;
  display: block;
  color: white;
  text-decoration: none;
}
#sidebar ul li a:hover {
  color: #07B2D9;
  background: #fff;
}

#sidebar ul li a i {
  margin-right: 0.3rem;
}

#sidebar ul li.active > a,
a[aria-expanded='true'] {
  color: #fff;
  background: #07B2D9;
}