html,

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: 'Candara';
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.productsContainer {
  width: 100%;
  display: grid;
  justify-content: center;
  margin-bottom: 2rem;
}

nav {
  justify-items: center;
  display: flex;
  width: auto;
  background-color: #C72D29;
  padding: 1rem 1rem;

}

.navbar-brand {
  position: relative;
  display: flex;
  justify-items: center;
}

.navegation {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.navegation li {
  list-style: none;
  margin: 0 20px;
}
.navegation li a {
  color:  #A63C4F;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 1px;
}
.navegation li:hover a {
  color: #07B2D9;
}

/* barra de búsqueda */
.input-group {
  display: flex;
  width: 100%;
  margin-right: 40%;
  
}

/* dimensiones barra de búsqueda */
#search_field {
  top: 0;
  left: 0;
  width: auto;
  height: 1.4rem;
  padding: 1rem;
  border-radius: 0.3rem;
}


/* botón iniciar sesión*/
#login_btn {
  background-color: #07B2D9;
  padding: 0.4rem 1.8rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.btn-admin {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  justify-content: center;
  padding-left: 8rem;
  padding-right: 8rem;
  cursor: pointer;
}


/* contador carrito de compras*/
#cart_count {
  background-color: #07B2D9;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  color: #fff;
  font-weight: bold;
  font-size: 0.9rem;
}

/* Home page */
#products_heading {
  margin-top: 5rem;
}
/* Tarjeta cuadro de productos */
.card {
  display: flex;
  height:   100%;
  width: 100%;
  padding-left: 0;

}

/* Tamaño precio */
.card-text {
  font-size: 2rem;
}

/* Botón ver detalle */
#view_btn {
  background-color: #A63C4F;
  border-radius: 1rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}



/* Tamaño de imagen producto */
.card-img-top {
  width: 200px;
  height: 150px;
}


#no_of_reviews {
  font-size: 0.85rem;
  color: grey;
  margin-left: 0.5rem;
}

/* Footer */
footer {
  margin-top: 8rem;
  color: grey;
  bottom: 0;
  width: 100%;
}

/* Ratings */

.rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: #A63C4F;
}

/* Ratings estrellas */
.rating-outer::before {
  content: '\f006 \f006 \f006 \f006 \f006';
}


.stock {
  color: #A63C4F;
  font-weight: bold;
}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.rating-inner::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  color: #A63C4F;
}

.sub-headding{
  display: absolute;
  color: #A63C4F;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.agregar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.agregar form .inputBox{
  display: grid;
  grid-template-columns: repeat(1, 34rem);
  grid-gap: 1rem;
  justify-content: center;
  padding-top: 2rem;
  padding-left: 7rem;
  padding-right: 7rem;
  color: #fff;
  font-weight: bold;
  padding-bottom: 2rem;
  background-color: #A63C4F;
  width: 660px;
  border-radius: 9px;
}

.imgForm {
  width: 570px;
}

.cajon {
  background: #fff;
  border-radius: 9px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.cajon1 {
  background: #fff;
  border-radius: 9px;
  padding-top: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn-add-product {
  display: flex;
  grid-gap: 2rem;
  justify-content: center;
  padding-left: 10rem;
  padding-right: 10rem;
  cursor: pointer;
}

/*CARRITO DE COMPRAS:*/

.container-cart{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  padding-top: 30px;
}
.container-table{
    background-color:white;
    width: 70%;
}
.container-table .color-icon{
  width: 100%;
  height: 100%;
  color: rgb(139, 9, 9);
  display: flex;
  justify-content: center;
}
.container-table .color-icon div{
  cursor: pointer;
  width: 50%;
  display: flex;
  justify-content: center;
}

.container-pago{
  width: 20%;
}


